.home {
  width: 100%,
}

.an {
  height: 190px;
  margin-top: 30px;
  margin-left: 70px;
}

.ann {
  height: 190px;
  margin-left: auto;
  margin-right: 90px;
  margin-top: 30px;
}

.giasu {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.giasu-container {
  position: relative;
}

.giasutext {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}

.giasutext::after {
  content: "";
  display: block;
  width: 60%;
  height: 2px;
  background-color: #000000;
  margin: 5px auto 0;
}

.giasu-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}

.giasu-infor {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}

.giasu1 {
  display: block;
  margin-left: 10%;
}

.giasu-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}

.giasu2 {
  display: block;
  margin-left: 75%;
}

.infor {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.image25 {
  margin-left: 60%;
  display: block;
  height: 120px;
}

.image27 {
  margin-left: 20%;
  display: block;
  height: 120px;
}

.image28 {
  margin-left: 5%;
  display: block;
  height: 120px;
}

.why-1 {
  position: relative;
}

.why-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}

.hotnew {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
