.relsubject{
    font-family: cursive;
    text-align: center;
    margin-bottom: 40px;
}

.relsubject .line{
    display: inline-block;
    border-bottom: 2px solid #000000;
    width: 30%;
    margin-bottom: 5px;
}